    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <title>選股網</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div id="left">
            <h1>Candlestick Chart</h1>
            <div id="chart"></div>
        </div>

        <div id="right">
            <h2>台股報價</h2>
            <button id="select-button" onclick="getSelectedStocks()">開始選股</button>
            <progress id="progress-bar" value="0" max="100"></progress>
            <table id="stock-results">
                <thead>
                    <tr>
                        <th>股票代碼</th>
                        <th>股票名稱</th>
                        <th>當前價</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 選股結果將動態插入到這裡 -->
                </tbody>
            </table>
        </div>

        <!-- 引入 Lightweight Charts 的 JavaScript 庫 -->
        
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <script src="{% static 'chart.js' %}"></script>
    </body>
    </html>
